.fixNav{
  width: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 100000000;
}
.cart-body{
	z-index:999;
}
.inner-header{
	background-color: #ffffff
}
.inner-title,.beta-breadcrumb, .beta-breadcrumb a{
	color: black
}
.main-menu>ul.l-inline> li> a{
	color: #fff;
	padding: 10px 35px
}
#tab-reviews .comment textarea{
    height:30px;
}
.like-btn{
    border:transparent !important;
}
.errors-login h5{
    color: red;
    margin-left: 200px;
}
.chuv{
    position: relative;
    left: 150px;
    top:-20px;
    display: none;
}
.price{
    font-size: 15px;
}
.chuv_price{
    margin-left: 5px;
    /*top:-20px;*/
    /*display: none;*/
}
.show_price{
    background: #ff9da4;
}

